<div class="card card-body p-4 rounded-2 bg-dark text-white">

  <form action="tasks/add" method="POST">

    <h3>Add a task</h3>

    <div>
      <label for="title">Write a title</label>
      <input
        type="text"
        name="title"
        placeholder="title"
        id="title"
        class="form-control rounded-2 bg-dark text-white"
      />
    </div>

    <div>

      <label for="description">Wire a desciption</label>
      <textarea
        name="description"
        placeholder="description"
        id="description"
        class="form-control rounded-2 bg-dark text-white"
      ></textarea>
    </div>

    <button class="btn btn-primary btn-sm mt-2 w-100">Add</button>
  </form>
</div>