<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body p-4 bg-dark">
        <h1 class="text-white">Update a Tasks</h1>
        <Form action="/task/{{task._id}}/edit" method="POST">
          <input
            type="text"
            name="title"
            placeholder="Title"
            value="{{task.title}}"
            class="form-control rounded-2 bg-dark text-white mb-3"
          />

          <textarea
            name="description"
            row="3"
            placeholder="Add a description"
            class="form-control rounded-2 bg-dark text-white"
          >{{task.description}}</textarea>

          <button class="btn btn btn-primary btn-sm mt-2 w-100">Update</button>
        </Form>
      </div>
    </div>
  </div>
</div>